@model CoolCatCollects.Bricklink.Models.OrdersModel
@{
	ViewBag.Title = "Packed Bricklink Orders";
}

<h2>List of Bricklink Orders Marked as Packed</h2>

@using (Html.BeginForm("Export", "BricklinkPostage"))
{
	<input type="submit" value="Generate CSV" class="btn btn-primary" />

	<p>Warning! The app has to query bricklink for each of these orders. It may take a while.</p>

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Selected</th>
				<th>Order Id</th>
				<th>Total Pieces</th>
				<th>Unique Pieces</th>
				<th>Buyer Name</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Orders.Count(); i++)
			{
				<tr>
					@Html.HiddenFor(o => Model.Orders[i].OrderId)
					@Html.HiddenFor(o => Model.Orders[i].TotalPieces)
					@Html.HiddenFor(o => Model.Orders[i].UniquePieces)
					@Html.HiddenFor(o => Model.Orders[i].BuyerName)
					@Html.HiddenFor(o => Model.Orders[i].Total)
					<td>
						@Html.CheckBoxFor(o => Model.Orders[i].Selected)
					</td>
					<td>@Model.Orders[i].OrderId</td>
					<td>@Model.Orders[i].TotalPieces</td>
					<td>@Model.Orders[i].UniquePieces</td>
					<td>@Model.Orders[i].BuyerName</td>
					<td>@Model.Orders[i].Total</td>
				</tr>
			}
		</tbody>
	</table>
}
