@model CoolCatCollects.Bricklink.Models.OrdersModel
@{
	ViewBag.Title = "Bricklink Orders for Postage";
}

<h2>Bricklink Orders for Postage</h2>

@using (Html.BeginForm("Export", "BricklinkPostage"))
{
	<input type="submit" value="Export" class="btn btn-primary" />
	<br />
	<br />
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Selected</th>
				<th>Order Id</th>
				<th>Total Pieces</th>
				<th>Unique Pieces</th>
				<th>Buyer Name</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Orders.Count(); i++)
			{
				<tr>
					@Html.HiddenFor(o => Model.Orders[i].OrderId)
					<td>
						@Html.CheckBoxFor(o => Model.Orders[i].Selected)
					</td>
					<td>@Model.Orders[i].OrderId</td>
					<td>@Model.Orders[i].TotalPieces</td>
					<td>@Model.Orders[i].UniquePieces</td>
					<td>
						@Model.Orders[i].Username<br />
						(@HttpUtility.HtmlDecode(Model.Orders[i].RealName))
					</td>
					<td>@Model.Orders[i].Total</td>
				</tr>
			}
		</tbody>
	</table>
}
